<!DOCTYPE html>
<html>
<head>
<!--Custom fonts (Josefin Slab) -->
<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
<!--Custom fonts (Raleway) -->
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<title>WBI 461 Website</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">


            <a class="navbar-brand" href="/"><img class="navbar-brand" src="http://assets.boilerinvasion.org/assets/logo-b67204d087e9388f80a15cfd3ddcd035.png"></a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <% @navbar_items.each do |x_nav| %>
                    <% if x_nav.children.count > 0 %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= x_nav.name %><span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <% x_nav.children.each do |sane| %>
                                <li><%= link_to sane.name, sane.link %> </li>
                            <% end %>
                        </ul>
                    </li>
                <% else %>
                    <li><%= link_to x_nav.name, x_nav.link %> </li>
                <% end %>
                <% end %>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <% if current_user %>
                    <li><%= link_to "Log Out #{current_user.cn}", log_out_path %></li>
                <% else %>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login</a>
                    <ul class="dropdown-menu" role="menu">
                        <%= form_tag log_in_path do %>
							<div class="form-group login-group">
								<li><%= text_field_tag :email, nil, class: 'form-control' %></li>
								<li><%= password_field_tag :password, nil, class: 'form-control' %></li>
								<li><%= submit_tag "Log In", class: 'btn' %>
							</div>
                        <% end %>
                    </ul>
                    </li>
                <% end %>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid main-container">
    <div class="row">
        <div class="col-md-12">
            <%= yield %>
        </div>
    </div>
</div>
</body>
</html>
